@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.placeholder-bold::placeholder {
  font-weight: bold; /* Make placeholder text bold */
  color: theme(
    "colors.primary.600"
  ); /* Tailwind's way to reference theme colors */
}
.bg-blend-luminosity {
  background-blend-mode: luminosity;
}

@media screen and (max-width: 600px) {
  .input-field {
    margin-bottom: 1rem; /* Adds space below each input field on small screens */
  }
}

/* You can adjust the below styles according to your design needs */
.input-field {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: "#070d2e";
  width: 100%; /* Full width - use max-width if necessary */
}
